body{
  margin: 5em;
}

ul{  
  padding: 0;
}

li{
  margin-right: 2em;
  margin-top: 1em;
  font-weight: bold;
  list-style-type: None;
  
}
a{
  text-decoration: None;
}
main{
  padding-top: 2em;
}

article{
  margin-right: 20%;
}

footer{
  border-top: thick solid;
  padding-top: 1em;
}

footer > p{
  margin: 0;
}


h1>span{
  display: block;
}

span{
  color: gray;
  font-style: italic;
}
footer img{
  width: 1em;
}
header nav{
  border-bottom: thin solid;

}
h1 {
  border-bottom: thick solid;
}
